
<form name="recommendations-form" method="POST" onsubmit="return validateForm()" action="/submit">
  <div class="block">
    <div class="step step--1">
      <div class="picker">
        <h2>1. ⚖️ "<span class="bbo">The Best Book On</span>"</h2>
	<div class="ui-widget" style="display: inline;">
          <input type="text" name="topic" placeholder="Physics..."
		 class="book-topic-selector"
		 style="max-width: 250px">
	</div> is
        <div class="ui-widget" style="display: inline;">
          <label for="book-winner-selector"></label>
          <input type="text" name="winner" class="book-winner-selector" placeholder="Search title, author, or isbn">
        </div> with
        <div class="ui-widget" style="display: inline;">
          <input type="text" name="source" class="book-winner-url" placeholder="source">
        </div>. 
    </div>
    
    <div class="step step--2">
      <div class="picker">
        <h2>2. 📚 I know because I've also read</h2>
        <div class="ui-widget">
          <label for="book-candidate-selector"></label>
          <input type="text" name="candidate1" class="book-candidate-selector1" placeholder="this book...">
          <input type="text" name="candidate2" class="book-candidate-selector2" placeholder="and this one...">
          <input type="text" name="candidate3" class="book-candidate-selector3" placeholder="as well as this...">
        </div>
      </div>
      <div class="display">
        <!--
            <div class="book-placeholder"></div>
            -->
      </div>
    </div>

    <div class="step step--3">
      <div class="picker">
        <h2>3. 📏  Description</h2>
        <input type="text" name="description" placeholder="about winner...">
      </div>
    </div>
  </div>
  <div class="cta">      
    <span class="cta-btn">
      <button type="submit">Submit Request</button>
    </span>
  </div>
</form>


